<%- include("/home/moni/EJS/layout/header.ejs") %> 

    <main>
        <form action="/" method="post">
            <h1>Kamrul Hasan</h1>
            <p>AI engineer working for KaleidoSoft as a Machine Learning Engineer.</p>
        </form>
        
    </main>

<%- include("/home/moni/EJS/layout/footer.ejs") %> 
